:root {
  --container: 1200px;
  --border-radius: 8px;

  --point-color: #9cbad9;
  --base-color: #f7f7fa;
  --white-color: #fff;
  --border-color: #eee;
  --gray-color: #999;
  --black-color: #111;
}

/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 50px;
  width: 320px;
  height: 100%;
  background: var(--white-color);
  box-sizing: border-box;

  .header__logo {
    a {
      font-size: 32px;
      font-weight: 800;
      color: var(--black-color);

      .header__logo-icon {
        margin-bottom: 8px;
        display: block;
        font-size: 46px;
      }
    }
  }

  .header__description {
    margin-top: 10px;
    font-size: 12px;
    color: var(--gray-color);
  }

  .header__category {
    margin-top: 100px;

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 50px;
      font-size: 16px;

      // background: #999;
      color: #999;
      // border-radius: var(--border-radius);

      &:hover {
        font-weight: 600;
        color: var(--black-color);
        svg {
          stroke: var(--black-color);
        }
      }
    }

    .header__category--active {
      font-weight: 600;
      color: var(--black-color);

      svg {
        stroke: var(--black-color);
      }
    }
  }
}
/* ===== //HEADER ===== */

/* ===== LAYOUT ===== */
#container {
  padding: 50px;
  margin-left: 320px;
  box-sizing: border-box;
  min-height: 100vh;
  background: var(--base-color);
}
.contents {
  margin: 50px 0;

  .contents__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
  }
}

.flex-box {
  display: flex;
  align-items: center;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
/* ===== //LAYOUT ===== */
