:root {
  --container-width: 1200px;
  --border-radius: 8px;
  --base-background: #fff;
  --base-font-color: #111;
  --bg-color1: #eee;
  --bg-color2: #111;
  --ft-color1: #999;
  --ft-color2: #666;
  --ft-color3: #333;
  --ft-color4: #fff;
}
.wrap {
  margin: 0 auto;
  width: var(--container-width);
}
a {
  color: var(--ft-color3);
}

/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: var(--base-background);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  border-bottom: 1px solid transparent;
  z-index: 9999;

  &.header--fix {
    border-bottom: 1px solid var(--bg-color1);
  }

  &.header--hide {
    top: -70px;
  }
  .wrap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    font-size: 24px;
  }

  .header__category {
    display: flex;
    gap: 60px;

    a {
      margin-top: 8px;
      padding: 5px;
      font-size: 16px;
      font-weight: bold;
      color: var(--base-font-color);

      &::after {
        content: '';
        display: block;
        width: 0%;
        height: 1px;
        background: var(--bg-color2);
        transition: all 0.2s cubic-bezier(0.7, 0, 0.3, 1);
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .header__utils {
    display: flex;
    gap: 25px;
    align-items: center;

    .button {
      display: flex;
      font-size: 20px;
      color: var(--bg-color2);

      &.button__link {
        font-size: 19px;
      }
    }
  }
}
/* ===== //HEADER ===== */

/* ===== COMMON LAYOUT ===== */
#container {
  margin-top: 70px;
  padding: 100px 0;
  min-height: calc(100vh - 70px - 55px);
  box-sizing: border-box;
}
.page-title {
  display: flex;
  gap: 20px;

  .page-title__emoji {
    font-size: 70px;
    height: 70px;

    img {
      width: auto;
      height: 100%;
    }
  }
  .page-title__text {
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 36px;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}

.contents {
  margin: 100px 0;

  &:last-child {
    margin-bottom: 0;
  }

  .contents__title {
    position: relative;
    font-size: 24px;
    font-weight: bold;

    .more__btn {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 14px;
      font-weight: 300;
      color: var(--ft-color1);
    }
  }
}

.utterances {
  max-width: 100% !important;
}

.empty {
  margin-top: 30px;
  padding: 100px 0;
  border: 1px solid var(--bg-color1);
  border-radius: var(--border-radius);
  text-align: center;
}
/* ===== //COMMON LAYOUT ===== */

/* ===== FOOTER ===== */
.footer {
  padding: 20px 0;
  font-size: 12px;
  text-align: center;
  color: var(--ft-color1);
}
/* ===== //FOOTER ===== */

/* ===== 404 PAGE ===== */
.page404 {
  text-align: center;

  .page404__wrap {
    position: relative;
    top: 100px;

    .emoji {
      position: absolute;
      top: 0;
      width: 100%;
      font-size: 180px;
    }

    h3 {
      margin-bottom: 50px;
      font-size: 180px;
      color: var(--base-font-color);
    }
    .title {
      margin-bottom: 15px;
      font-size: 26px;
      font-weight: 400;
      color: var(--base-font-color);
    }
    .text {
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      color: var(--ft-color1);
    }
    .btn__go-to-Home {
      margin-top: 50px;
      display: inline-block;
      width: 180px;
      height: 50px;
      line-height: 50px;
      border-radius: 50px;
      background: var(--bg-color2);
      color: var(--ft-color4);
    }
  }
}
/* ===== //404 PAGE ===== */
